<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxUrlLength="8192" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="ABC" stopProcessing="true">
          <match url="./*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
         <rule name="Force HTTPS" stopProcessing="true">
           <match url=".*" />
            <conditions>
             <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{REQUEST_URI}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <remove name="Content-Security-Policy" />
      </customHeaders>
    </httpProtocol>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="16384" maxQueryString="8192" />
            </requestFiltering>
        </security>
  </system.webServer>
</configuration>
