<div class="custom-form p-0">

  <h1>Change password</h1>

  <form #formElRef [formGroup]="form" (ngSubmit)="submitForm()">

    <mat-form-field class="mat-form-field blue-form-field suffix-align-center">
      <mat-label>Old password</mat-label>
      <input matInput formControlName="oldPassword" [type]="hideOldPassword ? 'password' : 'text'" class="mat-input"
             placeholder="Enter old password" autofocus>
      <button mat-icon-button matSuffix (mousedown)="hideOldPassword = false" (mouseup)="hideOldPassword = true">
        <i class="fas fa-eye" *ngIf="!hideOldPassword"></i>
        <i class="fas fa-eye-slash" *ngIf="hideOldPassword"></i>
      </button>
    </mat-form-field>
    <app-state-model-errors [form]="form"
                            [submitted]="isSubmitted"
                            [customErrors]="[
                              {error: 'required', message: 'Required'}
                            ]"
                            controlName="oldPassword"
                            [modelState]="modelState">
    </app-state-model-errors>

    <mat-form-field class="mat-form-field blue-form-field suffix-align-center">
      <mat-label>New password</mat-label>
      <input matInput formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'" class="mat-input"
             placeholder="Enter new password">
      <button mat-icon-button matSuffix (mousedown)="hideNewPassword = false" (mouseup)="hideNewPassword = true">
        <i class="fas fa-eye" *ngIf="!hideNewPassword"></i>
        <i class="fas fa-eye-slash" *ngIf="hideNewPassword"></i>
      </button>
    </mat-form-field>
    <app-state-model-errors [form]="form"
                            [submitted]="isSubmitted"
                            [customErrors]="[
                              {error: 'required', message: 'Required'},
                              {error: 'pattern', message: 'Password should be minimum 9 symbols including: one capital letter, one digit and one special symbol'}
                            ]"
                            controlName="newPassword"
                            [modelState]="modelState">
    </app-state-model-errors>

    <mat-form-field class="mat-form-field blue-form-field suffix-align-center mt-3">
      <mat-label>Confirm password</mat-label>
      <input matInput formControlName="confirmNewPassword" [type]="hideConfirmNewPassword ? 'password' : 'text'" class="mat-input"
             placeholder="Confirm password">
      <button mat-icon-button matSuffix (mousedown)="hideConfirmNewPassword = false" (mouseup)="hideConfirmNewPassword = true">
        <i class="fas fa-eye" *ngIf="!hideConfirmNewPassword"></i>
        <i class="fas fa-eye-slash" *ngIf="hideConfirmNewPassword"></i>
      </button>
    </mat-form-field>
    <app-state-model-errors [form]="form"
                            [submitted]="isSubmitted"
                            [customErrors]="[
                              {error: 'required', message: 'Required'},
                              {error: 'passwordMismatch', message: 'Password mismatch'}
                            ]"
                            controlName="confirmNewPassword"
                            [modelState]="modelState">
    </app-state-model-errors>

    <div class="btn-group">
      <button mat-button class="btn--red" type="button" (click)="closeDialog(null)">Close</button>
      <button mat-button class="btn--green" type="submit">Save</button>
    </div>

  </form>

</div>
