<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="TradeDbContext" connectionString="Server=tcp:iba-reporting-srv.database.windows.net,1433;Database=IBAR.Master;Persist Security Info=False;User ID=IBAReportingAdmin;Password=DBadmin2020-prod;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="DBLoggerContext" connectionString="Server=tcp:iba-reporting-srv.database.windows.net,1433;Initial Catalog=IBAR.Log;Persist Security Info=False;User Id=IBAReportingAdmin;Password=DBadmin2020-prod;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="historyFolder" value="history" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ibareportingstorage;AccountKey=ZPJCvc+NaMykw7o2M/C4YicGpGThjSOwmOK//wu9Z56JxzELSt+vN1mFiwPp2vq0OWByj28NJZKSZaE6iWlezA==;EndpointSuffix=core.windows.net"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="zoho:ApiTokenUrl" value="https://www.zohoapis.com/crm/v2/functions/create_workdrive_accesstoken/actions/execute?auth_type=apikey&amp;zapikey=1003.0eb7117ab6d9999333cfd4e8d95ef57e.4b0fe59366961e440073dfd36c5b3521" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="zoho:ApiUploadUrl" value="https://workdrive.zoho.com/api/v1/upload?parent_id=joi3k9b93e34440874dcf9cf9587d411ebd10&amp;override-name-exist=true&amp;filename=" />
    <!--Jobs interval settings in minutes-->
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="job:FtpJobInterval" value="30" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="job:CopyFromFtpJobInterval" value="30" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="job:FileDeliveryJobInterval" value="30" />
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="job:ImportJobInterval" value="30" />
  </appSettings>

</configuration>