<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="TradeDbContext" connectionString="Server=tcp:ib-analytics-sqlserver.database.windows.net,1433;Database=IBAR.Master;Persist Security Info=False;User ID=IBReportingAdmin@ib-analytics-sqlserver;Password=DBadmin2020;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=ibanalyticsyncerstorage;AccountKey=BydmjrH91PsPbIUX2F+aGY6R1OmmvSvDBKqa26DZgGi3lmemjEVty0DuFBBKu+PXcYTnEtNYkJw96IUW3gIjwQ==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=ibanalyticsyncerstorage;AccountKey=BydmjrH91PsPbIUX2F+aGY6R1OmmvSvDBKqa26DZgGi3lmemjEVty0DuFBBKu+PXcYTnEtNYkJw96IUW3gIjwQ==;EndpointSuffix=core.windows.net" />
  </connectionStrings>

  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ibanalyticsyncerstorage;AccountKey=BydmjrH91PsPbIUX2F+aGY6R1OmmvSvDBKqa26DZgGi3lmemjEVty0DuFBBKu+PXcYTnEtNYkJw96IUW3gIjwQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>

</configuration>