<mat-expansion-panel class="mat-elevation-z0">

  <mat-expansion-panel-header class="header-center">
    <mat-panel-title>
      {{ ftpCred.ftpName }}
    </mat-panel-title>
    <mat-panel-description>
      {{ 'Master accounts: ' + ftpCred.masterAccounts.length }}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <form [formGroup]="form">
    <div class="row">
      <mat-form-field class="col-auto">
        <mat-label>FTP name</mat-label>
        <input type="text" matInput placeholder="Enter FTP name" formControlName="ftpName">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-auto">
        <mat-label>User name</mat-label>
        <input type="text" matInput placeholder="Enter user name" formControlName="userName">
      </mat-form-field>
      <mat-form-field class="col-auto">
        <mat-label>User password</mat-label>
        <input type="text" matInput placeholder="Enter user password" formControlName="userPassword">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-auto url-field">
        <mat-label>FTP URL</mat-label>
        <input type="text" matInput
               placeholder="Enter FTP URL"
               formControlName="ftpUrl">
      </mat-form-field>
    </div>
    <div class="row">
      <div class="col-12 mb-2">
        Master accounts:
      </div>
      <div class="col-3" *ngFor="let pair of masterAccounts; let index = index">
        <mat-checkbox [checked]="pair.value"
                      [value]="pair.account"
                      (change)="onChangeMasterAccount($event.checked, pair)"
                      [matTooltip]="pair.value
                      ? 'Disable ' + resolveMasterAccountName(pair.account)
                      : 'Enable ' + resolveMasterAccountName(pair.account)">
          {{resolveMasterAccountName(pair.account)}}
        </mat-checkbox>
      </div>
    </div>
  </form>

  <mat-action-row class="d-flex">
    <div class="ml-auto">
      <button mat-stroked-button color="warn" (click)="delete()">Delete</button>
    </div>
  </mat-action-row>

</mat-expansion-panel>
