<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/87cb40bb-c5c0-444c-8e9d-dbc0a42382f2/resourceGroups/ib-analytics-group/providers/Microsoft.Web/sites/ib-analytics</ResourceId>
    <ResourceGroup>ib-analytics-group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ib-analytics.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ib-analytics.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ib-analytics</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ib-analytics</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TradeDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ib-analytics-sqlserver.database.windows.net,1433;Initial Catalog=IBAR.Master;Integrated Security=False;Persist Security Info=False;User ID=IBReportingAdmin@ib-analytics-sqlserver;Password=DBadmin2020;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress;Initial Catalog=IBAR.Master;Integrated Security=True;User ID=IBReportingAdmin;Password=dbadmin;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TradeDbContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\sqlexpress;Initial Catalog=IBAR.Master;Integrated Security=True;User Id=IBReportingAdmin;Password=dbadmin;MultipleActiveResultSets=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DBLoggerContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\sqlexpress;Initial Catalog=IBAR.Log;Integrated Security=True;User ID=IBReportingAdmin;Password=dbadmin" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DBLoggerContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\sqlexpress;Initial Catalog=IBAR.Log;Integrated Security=True;User Id=IBReportingAdmin;Password=dbadmin;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="TradeDbContext-Web.config Connection String">
      <ParameterValue>data source=tcp:ib-analytics-sqlserver.database.windows.net,1433;initial catalog=IBAR.Master;integrated security=False;persist security info=False;user id=IBReportingAdmin@ib-analytics-sqlserver;password=DBadmin2020;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="log-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ib-analytics-sqlserver.database.windows.net,1433;Initial Catalog=IBAR.Log;Integrated Security=False;Persist Security Info=False;User ID=IBReportingAdmin@ib-analytics-sqlserver;Password=DBadmin2020;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>