<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <connectionStrings xdt:Transform="Replace">
    <add name="TradeDbContext" connectionString="Server=tcp:ib-analytics-sqlserver.database.windows.net,1433;Database=IBAR.Master;Persist Security Info=False;User ID=IBReportingAdmin@ib-analytics-sqlserver;Password=DBadmin2020;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="DBLoggerContext" connectionString="Server=tcp:ib-analytics-sqlserver.database.windows.net,1433;Initial Catalog=IBAR.Log;Persist Security Info=False;User Id=IBReportingAdmin@ib-analytics-sqlserver;Password=DBadmin2020;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="appDomain" value="https://ib-analytics.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="baseUrlWebApp" value="https://ib-analytics-client.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="historyFolder" value="history" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ibanalyticsyncerstorage;AccountKey=BydmjrH91PsPbIUX2F+aGY6R1OmmvSvDBKqa26DZgGi3lmemjEVty0DuFBBKu+PXcYTnEtNYkJw96IUW3gIjwQ==;EndpointSuffix=core.windows.net"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>