<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="TradeDbContext" connectionString="Server=tcp:iba-reporting-srv.database.windows.net,1433;Database=IBAR.Master;Persist Security Info=False;User ID=IBAReportingAdmin;Password=DBadmin2020-prod;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="DBLoggerContext" connectionString="Server=tcp:iba-reporting-srv.database.windows.net,1433;Initial Catalog=IBAR.Log;Persist Security Info=False;User Id=IBAReportingAdmin;Password=DBadmin2020-prod;Trusted_Connection=False;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="appDomain" value="https://iba-reporting-api.azurewebsites.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="baseUrlWebApp" value="https://iba-reporting-user.azurewebsites.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="historyFolder" value="history" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ibareportingstorage;AccountKey=ZPJCvc+NaMykw7o2M/C4YicGpGThjSOwmOK//wu9Z56JxzELSt+vN1mFiwPp2vq0OWByj28NJZKSZaE6iWlezA==;EndpointSuffix=core.windows.net"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>